/* Home.css */

body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url('https://i.pinimg.com/736x/32/59/75/3259751eb4e94902b24f302c29da7ddb.jpg');
    background-size: cover;
    background-position: center;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    max-width: 1200px;
    margin: 20px;
    padding: 40px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.title {
    font-size: 48px;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.subtitle {
    font-size: 24px;
    margin-bottom: 20px;
    font-weight: bold;
    color: #f0f0f0;
}

.link {
    display: inline-block;
    margin: 10px;
    text-decoration: none;
    color: #fff;
    background-color: #007bff;
    padding: 15px 30px;
    border-radius: 50px;
    font-size: 18px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease, color 0.3s ease;
}

.link:hover {
    transform: translateY(-3px);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.5);
    background-color: #0056b3;
}

.properties-title {
    font-size: 36px;
    margin-bottom: 30px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #fff;
}

.properties {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    list-style: none;
    padding: 0;
}

.property {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    font-size: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.property:hover {
    transform: translateY(-3px);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.5);
}

.property-link {
    text-decoration: none;
    color: inherit;
}

.property-content {
    text-align: left;
}

.property h3 {
    margin: 0 0 10px;
    font-size: 24px;
    color: #007bff;
    text-transform: uppercase;
}

.property p {
    margin: 5px 0;
    color: #eee;
}

.property-details {
    font-size: 16px;
    margin-top: 20px;
    color: #ccc;
}